.agreement {
  display: flex;
  margin-left: 14px;
  margin-top: 25px;
  position: relative;
  cursor: pointer;
  &__text {
    display: flex;
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-left: 25px;
  }
}
.agreement__text a {
  color: var(--main-underline-color);
  padding-left: 5px;
  padding-right: 5px;
}
.agreement____vector-box::before {
  display: block;
  content: "";
  position: absolute;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid var(--main-text-color);
  margin-right: 7px;
  margin-top: 3px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, background-color, fill;
  cursor: pointer;
}
