.link {
  color: var(--secondary-text-color);
  font-size: 14px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, fill;
  cursor: pointer;
}
.link__underline {
  text-decoration: underline;

  &:hover {
    color: var(--main-underline-color);
    fill: var(--main-underline-color);
  }
  &:focus {
    color: var(--main-underline-color);
    fill: var(--main-underline-color);
  }
}

.link_2 {
  color: var(--main-font-color);
  font-size: 14px;
  padding-bottom: 15px;
  margin-bottom: 0;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, fill;
  cursor: pointer;
  &:hover {
    color: var(--main-underline-color);
    fill: var(--main-underline-color);
  }
  &:focus {
    color: var(--main-underline-color);
    fill: var(--main-underline-color);
  }
}
.link:hover,
.link_2:hover,
.link:focus,
.link_2:focus,
.nav_link:hover,
.icon_envelope:focus,
.icon_envelope:hover,
.icon_smartphone:hover,
.icon_smartphone:focus {
  color: var(--main-underline-color);
  fill: var(--main-underline-color);
}
