.social__media--box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 206px;
  gap: 10px;
  margin: 0px 32px 18px;
}
.social_media__icon {
  display: column;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  gap: 10px;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  background-color: white;
  fill: #afb1b8;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;

  .social_media__icon:focus {
    fill: var(--main-font-color);
    background-color: var(--main-underline-color);
  }
  .social_media__icon:hover {
    fill: var(--main-font-color);
    background-color: var(--main-underline-color);
  }
}
