:root {
  --main-color: #00000;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --main-background-color: #2f303a;
  --main-underline-color: #2196f3;
  --main-font-color: #ffffff;
  --icone_background: #f5f4fa;
  --background-overlay-color: rgba(33, 150, 243, 0.9);
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}
ul {
  list-style: none;
  display: flex;
  padding-inline-start: 0px;
}
ul,
li {
  list-style-type: none;
}
a {
  color: var(--main-text-color);
  text-decoration: none;
}
Input {
  appearance: none;
  -webkit-appearance: none;
}
.underline {
  text-decoration: none;
}

address {
  font-style: normal;
}
figcaption,
figure {
  background-color: #ffffff;
  margin: 0;
}
